.img{
    max-height: calc(var(--windowHeight) - 120px);
    max-width: 100vw;
}

.containerPre{
    height: calc(var(--windowHeight) - 120px);
    display: flex;
    align-items: center;
    justify-content: center;
}