 @import url('https://fonts.cdnfonts.com/css/petyka-retro-computer');

.contenedorGridCards{
    box-sizing: border-box;
    display: grid;
    grid-template-columns: 4fr 4fr 4fr;
    place-items: center;
    row-gap: 20px;
    padding-top: 40px;
}

.NodataFound{
    box-sizing: border-box;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: calc(var(--windowHeight) - 214.8px);
}

.NodataFound p {
    font-family: 'Petyka - Retro Computer___SHORT', sans-serif;
    font-size: 40px;    
}

.NodataFoundImg{
    width: 40vw;
}

@media screen and (max-width: 756px) {
    .contenedorGridCards{
        grid-template-columns: 12fr;
    }
    .NodataFound{
        display: flex;
        flex-direction: column;
        flex-wrap: nowrap;
        justify-content: center;
        align-items: center;
        width: 100vw;
    }
    
    .NodataFound p {
        font-family: 'Petyka - Retro Computer___SHORT', sans-serif;
        font-size: 40px;    
    }
    
    .NodataFoundImg{
        width: 40vw;
    }
}

@media screen and (min-width: 756px) and (max-width: 1124px) {
    .contenedorGridCards{
        grid-template-columns: 6fr 6fr;
    }
    .NodataFound{
        display: flex;
        flex-direction: column;
        flex-wrap: nowrap;
        justify-content: center;
        align-items: center;
    }
    
    .NodataFound p {
        font-family: 'Petyka - Retro Computer___SHORT', sans-serif;
        font-size: 40px;    
    }
    
    .NodataFoundImg{
        width: 40vw;
    }
}